







{% extends 'myAdmin/master.html' %}

{% block tcontent %}
myAdmin - Add Projects and Clients
{% endblock %}

{% block childcontent %}







            <!-- Forms -->
            <section class="forms">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2 style="color: white;">
                        | Add Projects & Clients by MyAdmin
                      </h2>
                    </div>
                    <form id="contact" action="" method="post">
                      {% csrf_token %}
                      <br>
                      <div class="row" >
                        <div class="col-md-12">
                          <fieldset>
                            <input name="txtfname" type="text" class="form-control"  placeholder="Enter Full Name....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="txtemail" type="text" class="form-control" id="email" placeholder="Enter Email....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                            <input name="txtmobileno" type="number" class="form-control" placeholder="Enter Mobile Number....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="txtpname" type="text" class="form-control"  placeholder="Enter Project Name....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-4">
                          <select name="txtprojectcategory" id="category">
                            <option value="" selected>Select Technology</option>
                            {%  for data in values  %}
                            <option value="{{data.Language}}">{{data.Language}}</option>
                            {%  endfor  %}
                          </select>
                        </div>
                        <div class="col-md-4">
                          <fieldset>
                            <input name="txtsdate" type="text" class="form-control"  placeholder="Enter Starting Date....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-4">
                          <fieldset>
                            <input name="txtedate" type="text" class="form-control"  placeholder="Enter Ending Date....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-4">
                          <fieldset>
                            <input name="txtbudget" type="number" class="form-control" placeholder="Enter Total Budget....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-4">
                          <fieldset>
                            <input name="txtuname" type="text" class="form-control" placeholder="Generate Username....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-4">
                          <fieldset>
                            <input name="txtpassword" type="password" class="form-control"  placeholder="Generate Password....." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" id="form-submit" class="button">Add Project</button>
                          <b style="color: red">{{result}}</b>
                        </div>
                      </div>
                    </form>
                  </div>
                  </div>
                  </div>








{% endblock %}




